main {
    text-align: center;
}

.p5Canvas {
    text-align: center;
}

/* светлая тема */
.light {
    background-color: black;
    height: 100vh;
}

.light .table {
    margin-top: 100px;
    text-align: center;
    color: black;
}

.light .net {
    color: white; 
    font-size: 60px; 
    margin-top: 200px;
}

.light .animation {
    background-color: rgb(255, 255, 255);
  }

.light .animation2 {
    background-color: black;
  }

.light .navbar-default {
    background-color: black;
    border-color: black;
    border-radius: 0px;
    margin-bottom: 0px;
}

.light .navbar-default .navbar-brand {
    color: white;
}

.light .navbar-default .navbar-nav > li > a {
    color: white;
    margin-left: 50px;
}

.light .navbar-default .navbar-nav > li > a:hover,
.light .navbar-default .navbar-nav > li > a:focus {
    color: grey;
}



/* темная тема */
.dark {
    background-color: white;
    height: 100vh;
}

.light .table {
    margin-top: 100px;
    text-align: center;
    color: white;
}

/* network topology div class */
.dark .net {
    color: black; 
    font-size: 60px; 
    margin-top: 200px;
}

.dark .animation {
    background-color: rgb(000, 000, 000);
}

.dark .animation2 {
    background-color: rgb(255, 255, 255);
}

.dark .navbar-default {
    background-color: white;
    border-color: white;
    border-radius: 0px;
    margin-bottom: 0px;
  }

.dark .navbar-default .navbar-brand {
    color: black;
}

.dark .navbar-default .navbar-nav > li > a {
    color: black;
    margin-left: 50px;
}

.dark .navbar-default .navbar-nav > li > a:hover,
.dark .navbar-default .navbar-nav > li > a:focus {
    color: rgb(207, 207, 207);
}