main {
    text-align: center;
}

.p5Canvas {
    text-align: center;
}

/* light theme */
.light {
    background-color: black;
    height: 100vh;
}

.light .logs .table {
    margin-top: 100px;
    text-align: center;
    color: white;
}

/* network topology div class */
.light .net {
    color: white; 
    font-size: 60px; 
    margin-top: 200px;
    /* font-weight: bold; */
    display:inline-block;
    /* font-family: monospace; */
    clip-path: inset(0 1.3ch 0 0);
    animation: l 1s steps(6) infinite;
  }
  
  @keyframes l {
    to {
      clip-path: inset(0 -1ch 0 0)
    }
}

.light .animation {
    background-color: rgb(255, 255, 255);
  }

.light .animation2 {
    background-color: black;
  }

.light .navbar-default {
    background-color: black;
    border-color: black;
    border-radius: 0px;
    margin-bottom: 0px;
}

.light .navbar-default .navbar-brand {
    color: white;
}

.light .navbar-default .navbar-nav > li > a {
    color: white;
    margin-left: 50px;
}

.light .navbar-default .navbar-nav > li > a:hover,
.light .navbar-default .navbar-nav > li > a:focus {
    color: grey;
}



/* dark theme */
.dark {
    background-color: white;
    height: 100vh;
}

.dark .logs .table {
    margin-top: 100px;
    text-align: center;
    color: black;
}

/* network topology div class */
.dark .net {
    color: black; 
    font-size: 60px; 
    margin-top: 200px;
    display:inline-block;
    clip-path: inset(0 1.3ch 0 0);
    animation: l 1s steps(6) infinite;
  }
  
  @keyframes l {
    to {
      clip-path: inset(0 -1ch 0 0)
    }
}

.dark .animation {
    background-color: rgb(000, 000, 000);
}

.dark .animation2 {
    background-color: rgb(255, 255, 255);
}

.dark .navbar-default {
    background-color: white;
    border-color: white;
    border-radius: 0px;
    margin-bottom: 0px;
  }

.dark .navbar-default .navbar-brand {
    color: black;
}

.dark .navbar-default .navbar-nav > li > a {
    color: black;
    margin-left: 50px;
}

.dark .navbar-default .navbar-nav > li > a:hover,
.dark .navbar-default .navbar-nav > li > a:focus {
    color: rgb(207, 207, 207);
}

/*  Scrollbar */
body::-webkit-scrollbar {
    width: 10px;
  }
   
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    /* border-radius: 5px; */
    background-color: #f9f9fd;
  }
   
body::-webkit-scrollbar-thumb {
    /* border-radius: 5px; */
    background: linear-gradient(240deg, #000000, #434343, #ECE9E6);
    outline: 1px solid slategrey;
  }